<!DOCTYPE html>
<html>
<head>
	<title>Anonymous view</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/menuStyle.css">
	<link rel="stylesheet" type="text/css" href="css/contentStyle.css">
	<link rel="stylesheet" type="text/css" href="css/loginStyle.css">
	<link rel="stylesheet" type="text/css" href="css/createAccountStyle.css">
	<link rel="stylesheet" type="text/css" href="css/openPictureStyle.css">
</head>
<body>
	<div class="total-wrapper">
		<div class="header-wrapper">
			<div class="menu-wrapper">
				<ul class="menu-list">
					<li class="menu-option"><a class="active" href=""><span class="fa fa-home"></span><span class="menu-option-text">Home</span></a></li>
					<li class="menu-option"><a href=""><span class="fa fa-bell-o"></span><span class="menu-option-text">Notification</span></a></li>
				</ul>
				<div class="brand-icon">#LoGo</div>
				<div class="right-dock">
					<!-- <div class="search-notation" id="search-notation"><span class="fa fa-search"></span></div> -->
					<form class="search" id="search-bar">
						<input id="search-input" type="text" name="" placeholder="Search">
						<span id="search-button" class="fa fa-search"></span>
					</form>
					<div id="open-sign-in-button"><span class="fa fa-sign-in"></span>Sign In</div>
					<!-- <span id="post-button">Post</span> -->
				</div>
			</div>
		</div>
		{{{body}}}
		<div class="login-wrapper" id="login-box">
			<span class="login-escape-button fa fa-times"></span>
			<div class="login-content">
				<div class="login-notation-wrapper">
					<span class="login-logo-wrapper"><i class="login-logo fa fa-user-o"></i></span>
					<span class="login-notation">Sign In</span>
				</div>
				<form class="login-form">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<div class="login-button-wrapper">	
						<span id="login-submit-button" class="login-box-button-style">Log In</span>
						<span id="goto-create-button" class="login-box-button-style">Create account</span>
						<fb:login-button class="login-facebook" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
					</div>
				</form>
			</div>
		</div>
		<div class="login-wrapper" id="create-account-box">
			<span class="login-escape-button fa fa-times"></span>
			<div class="login-content">
				<div class="login-notation-wrapper">
					<span class="login-logo-wrapper"><i class="create-account-logo fa fa-pencil"></i></span>
					<span class="login-notation">Sign Up</span>
				</div>
				<form class="login-form">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<input type="password" name="password" placeholder="Confirm password">
					<div class="login-button-wrapper">	
						<span id="create-account-submit-button" class="login-box-button-style">Create account</span>
						<span id="goto-login-button" class="login-box-button-style">Log In</span>
						<fb:login-button  class="login-facebook" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
					</div>
				</form>
			</div>
		</div>

	</div>
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="js/controller.js"></script>
  	<script type="text/javascript" src="js/bigPicture.js"></script>
  	<script type="text/javascript" src="js/endlessScrolling.js"></script>
  	<script type="text/javascript" src="js/facebook.js"></script>
  	<script type="text/javascript" src="js/displayComment.js"></script>
  	<script type="text/javascript" src="js/voteWords.js"></script>
</body>
</html>