<div class="content-wrapper">
	<div class="portfolios-wrapper">
		<div class="portfolios-grid">
			<!-- <div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>-->
		</div>
	</div>
</div>
<div class="screen-dim" id="open-picture-dim">
	<div class="opened-picture-wrapper">
		<div class="instant-picture-wrapper">
			<div class="instant-picture">
				<img id="big-instant-picture-image">
			</div>
			<div class="instant-picture-beautiful-text-wrapper">
				<span class="instant-picture-beautiful-text">Some beautiful text,<span> </span>
				</span>
				<span class="instant-picture-beautiful-text">some beautiful text,<span> </span>
				</span><span class="instant-picture-beautiful-text">some beautiful text</span>
			</div>
		</div>
		<div class="right-section-wrapper">
			<div class="user-information-wrapper">
				<div class="glance-information-wrapper">
					<div id="owners-name"></div>
					<div id="follow-button">Follow</div>
				</div>
				<div class="dashboard-user-explicit">
					<div class="dashboard-information-field">
						<div class="dashboard-field-name">Pics</div>
						<div class="dashboard-field-value" id="pics-count">14</div>
					</div>
					<div class="dashboard-information-field">
						<div class="dashboard-field-name">Words</div>
						<div class="dashboard-field-value" id="3-words-count">232</div>
					</div>
					<div class="dashboard-information-field">
						<div class="dashboard-field-name">Follower</div>
						<div class="dashboard-field-value" id="3-words-count">57</div>
					</div>
				</div>
			</div>
			<div class="comment-section-wrapper">
				<div class="interest-wrapper">
					<span class="fa fa-comment-o"></span>
					<span id="interested-number">12</span>
				</div>
				<div class="comments-wrapper">
					<div class="write-comment-wrapper">
						<div class="user-avatar-tiny">
							<img id="user-avatar-tiny">
						</div>
						<div class="input-3-words">
							<input id="input-3-words" type="text" placeholder="You have 3 words left">
						</div>
					</div>
					<div class="display-comments-wrapper" id="comments-container">
						<!-- <div class="comment">
							<span class="word">Word</span>
							<div class="vote-count-display">
								<span class="fa fa-heart-o"></span>
								<span class="vote-number">12</span>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>