*{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     font-family: Arial;
}
body{
	background-color: #F8E5FF;
}
.total-wrapper{
	display: flex;
	justify-content: center;
}
.header-wrapper{
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 42px;
	background-color: #fff;
	border-bottom: 1px solid grey;
	z-index: 1;
}
.menu-wrapper{
	display: flex;
	flex-basis: 1100px;
	justify-content: space-between;
}

.menu-list{
	display: inline-flex;
	margin: 0;
	padding: 0;
}
.menu-list > li {
	display: inline-flex;
	line-height: 40px;
	list-style: none;
	text-align: center;
}
.menu-list > li > a {
	display: block;
	font-weight: bold;
	color: grey;
	padding: 0px 10px;
	height: 40px;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}
.menu-list > li > a.active{
	color: #D463E8;
	border-bottom: 2px solid #D463E8 ; 
}
.menu-list > li > a:hover{
	color: #D463E8;
	border-bottom: 2px solid #D463E8 ; 
}
.fa{
	margin-right: 5px;
}


.right-dock{
	display: inline-flex;
	align-items: center;
}
#post-button{
	display: inline-flex;
	height: 30px;
	font-weight: bold;
	color: #fff;
	background-color: #D463E8;
	border-radius: 20px;
	padding: 7px 20px;
}
#post-button:hover{
	cursor: pointer;	
	opacity: 0.75;
}
#open-sign-in-button{
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 10px;
	background-color: #D463E8;
	color: #ffffff;
	border: 2px solid #D463E8;
	border-radius: 5px;
	padding: 2px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 10px;
}
#open-sign-in-button > span{
	font-size: 20px;
}
#open-sign-in-button:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #D463E8;
}
.profile-setting-wrapper{
	display: inline-flex;
	position: relative;
	border-radius: 20px;
	width: 35px;
	height: 35px;
	margin: 0px 10px 0px 10px;
}
.profile-setting-avatar{
	display: inline-flex;
	border-radius: inherit;
	width: inherit;
	height: inherit;
	cursor: pointer;
}
.profile-setting-avatar > img{
	border-radius: inherit;
	width: inherit;
	height: inherit;
}
.profile-setting-dock{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 41px;
	left: -145px;
	width: 180px;
	background-color: #ffffff;
	box-shadow: 0px 2px 9px -2px rgba(0,0,0,0.75);
}
.profile-setting-section{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid grey;
	padding: 10px 0px 10px 0px;
}
.profile-setting-section:last-child{
	border: none;
}
.profile-setting-username{
	margin: 0px 15px 0px 15px;
	padding: 5px 0px;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}
.profile-setting-option{
	width: 100%;
	cursor: pointer;
	padding: 10px 0px 10px 15px;
}
.profile-setting-option .fa{
	margin-right: 10px;
}
.profile-setting-option:hover{
	color: #ffffff;
	background-color: #fc20f8;
}


.search-notation{
	display: none;
	font-size: 20px;
	cursor: pointer;
}
.search{
	position: relative;
	color: grey;
}
#search-input{
	display: inline-flex;
	padding: 8px 32px 8px 8px;
	border-radius: 20px;
	border: 1px solid #c5c5c5;
}
#search-input:focus{
	outline: none;
	box-shadow: 0px 0px 3px -0.5px rgba(255,0,238,1);
}
#search-button{
	display: inline-flex;
	position: absolute;
	right: 0px;
	top: 3px;
	padding: 5px;
}
#search-button:hover{
	display: inline-flex;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.menu-option-text{
		display: none;
	}
	.menu-option .fa{
		font-size: 28px;
	}
	.search{
		display: none;
		position: absolute;
		top: 40px;
		right: 130px;
	}
	#search-input{
		display: inline-flex;
		padding: 8px 32px 8px 8px;
		border-radius: 0px;
		border: 3px solid #ffffff;
	}
	.search-notation{
		display: inline-block;
	}
}